@page "/"
@using System.Timers

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="row mb-3">
                <div class="col-12">
                    <button @onclick="HandleOnTimerClick" class="btn btn-lg btn-block btn-success">@TimerVerb  Timer</button>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12 text-center">
                    <h4>@Time</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h3><u>Team A</u></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <h4><b>Score: @TeamAScore</b></h4>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12 text-center">
                            <button @onclick="IncreaseTeamAScore" class="btn btn-lg btn-block btn-primary">A++</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <button @onclick="DecreaseTeamAScore" class="btn btn-lg btn-block btn-danger">A--</button>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h3><u>Team B</u></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <h4><b>Score: @TeamBScore</b></h4>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12 text-center">
                            <button @onclick="IncreaseTeamBScore" class="btn btn-lg btn-block btn-primary">B++</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <button @onclick="DecreaseTeamBScore" class="btn btn-lg btn-block btn-danger">B--</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code 
{
    private string TimerVerb { get; set; } = "Start";
    private Timer Timer { get; set; }
    private const int TIMER_INTERVAL = 1000;
    private int Time { get; set; } = 60;
    private int TeamAScore { get; set; } = 0;
    private int TeamBScore { get; set; } = 0;

    private void HandleOnTimerClick()
    {
        SetTimerVerb();

        if(TimerVerb == "Reset")
        {
            Timer = new Timer(1000);
            Timer.Elapsed += CalculateCurrentTime;
            Timer.Start();
        }
        else
        {
            Timer.Stop();
            Timer.Dispose();
        }
    }

    private void CalculateCurrentTime(Object source, ElapsedEventArgs e)
    {
        Time--;
        StateHasChanged();

        if (Time == 0)
        {
            StopTimer();
        }
    }

    private void StopTimer()
    {
        Timer.Stop();
        Timer.Dispose();
        TimerVerb = "Start";
        Time = 60;
    }

    private void SetTimerVerb() =>
        TimerVerb = TimerVerb == "Start" ? "Reset" : "Start";

    private void IncreaseTeamAScore() =>
        TeamAScore++;

    private void DecreaseTeamAScore() =>
        TeamAScore--;

    private void IncreaseTeamBScore() =>
        TeamBScore++;

    private void DecreaseTeamBScore() =>
        TeamBScore--;
}